-if @movielist != nil && @movielist.size > 0
  %table
    -@movielist.each_with_index do |m, index|
      %tr
        %td
          - @i = index + 1
          = "#{@i} . "
          - md = /\((\d*)\)/.match(m.title)
          - if(md)
            - year=md.captures[0]
          =link_to "#{m.title}", '#', :name => "#{m.id},#{year}", :class => "selectmovie"
-else
  ="No movies found."
